<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">Name<span class="red">*</span></ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
      * Name is required
    </ion-text>

    <ion-item>
      <ion-label position="floating">Email<span class="red">*</span></ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      * Valid email is required
    </ion-text>

    <ion-item>
      <ion-label position="floating">Password<span class="red">*</span></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      * Password must be at least 6 characters
    </ion-text>

    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Emergency Contact 1 (SMS)</ion-label>
      <ion-input type="tel" formControlName="emergencyContact1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Emergency Contact 2 (SMS)</ion-label>
      <ion-input type="tel" formControlName="emergencyContact2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Emergency Contact (Call)</ion-label>
      <ion-input type="tel" formControlName="emergencyCall"></ion-input>
    </ion-item>

    <!-- <ion-button expand="full" type="submit" (click)="register()" [disabled]="registerForm.invalid">Register</ion-button> -->
    <ion-button [disabled]="isSubmitting" (click)="register()">Register</ion-button>
  </form>
</ion-content>
