<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Women Safety</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <div class="background-container">
    <img src="../../assets/imgs/women-safety.png" class="background-image" />
  </div>

  <div class="content-overlay">
    <h2>Your safety is our priority</h2>
    <p>Stay connected, stay safe.</p>
  </div>

  <div class="bottom-menu">
   

    <ion-button expand="full" class="primary-button">Get Started</ion-button>
    <ion-button expand="full" color="danger" class="sos-button">Quick SOS</ion-button>
    <ion-button fill="clear">Privacy Policy</ion-button>
    <ion-button fill="clear">Terms of Service</ion-button>
  </div>
</ion-content> -->
<ion-app>
  <ion-content>
      <div class="container">
          <ion-img src="../../assets/imgs/women-safety.png"></ion-img>
          <div class="details">
          <h2>Your Safety is Our Priority</h2>
          <p class="description">Stay connected, stay safe.</p>
          <ion-button class="btn-start" (click)="navigateToLogin()">Get Started</ion-button>
          <ion-button class="btn-sos" (click)='triggerSOS()'>Quick SOS</ion-button>
          <div class="links">
              <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-app>